{% extends 'console_base.html' %}

{% block title %}青年志愿者协会{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名字</th>
                    <th>职位</th>
                    <th>联系方式</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>主席</td>
                    <td>略</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>李四</td>
                    <td>副主席</td>
                    <td>略</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>王二</td>
                    <td>策划部长</td>
                    <td>略</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}