<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href= {% url "console" %}>总览 <span class="sr-only">(current)</span></a></li>
            <li><a href= {% url 'console_activity' %}>活动</a></li>
            <li><a href= {% url 'console_article' %}>推文</a></li>
            <li><a href= {% url 'console_inform' %}>通知</a></li>
            <li><a href= {% url 'console_member' %}>成员</a></li>
        </ul>
        <ul class="nav nav-sidebar">
        </ul>
    </div>
</div>